<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surveys</title>
    <link type="text/css" rel="stylesheet" href="/public.css">
    <link rel="shortcut icon" href="/images/flat-color-icons-survey.svg" type="image/x-icon">
</head>
<body class="surveys">
<div class="nav-menu">
    <div class="left">
        <div class="logo">
            <div class="underline"><p>Bubble</p></div>
            <p class="">MatchDev</p>
        </div>
        <div class="buttons">
            <div class="button" onclick="window.location.href='/'"><p>Home</p></div>
            <div class="button active" onclick="window.location.href='/surveys'"><p>Surveys</p></div>
            <div class="button" onclick="window.location.href='/create'"><p>Create a survey</p></div>
        </div>
    </div>
    <div class="right">
        <div class="button" onclick="window.location.href='/signin'">Login in</div>
    </div>
</div>
<div class="surveys-wrapper"></div>
<script src="/public.js"></script>
</body>
</html>